.image-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.hiddenRow {
    padding: 0 !important;
}

.zebra:nth-child(odd) {
    background-color: #f2f2f2
}
