[data-theme="dark"] {
  background-color: #4d4d4d !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #4d4d4d !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .cambiante{
  color: #f2f2f2;
}

[data-theme="dark"] .table {
  color: #f2f2f2 !important;
}

[data-theme="dark"] .zebra:nth-child(odd) {
    background-color: #333333 !important;
}

[data-theme="dark"] .card {
  background-color: #4d4d4d;
}

[data-theme='dark'] .modal-content {
  background-color: #000;
}

[data-theme='dark'] button.close span {
  color: #fff;
}

[data-theme='dark'] a.fulano {
  color: #FFF !important;
}

[data-theme='dark'] a.nav-link {
  color: #fff !important;
}

[data-theme='dark'] .navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
