.image-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.hiddenRow {
    padding: 0 !important;
}

.zebra:nth-child(odd) {
    background-color: #f2f2f2
}

.puntaje {
  width: 20px;
  max-width: 20px;
  padding: 1px;
  margin:1px;
  display: inline-block;
}
